$bg-color: rgb(245, 245, 245);

body {
    background-color: $bg-color;
}

a{
    font-weight: bold;
}

h1{
    padding-top: 80px;
}

h2{
    padding-top: 15px;
    padding-bottom: 15px;
}

h4{
    color: #324b80;
}

.btn {
    margin-top: 10px;
    margin-bottom: 20px;

}

.sidebarSpacing{
    margin-top: 20px;
}

.containerHeader{
    padding: 10px 0px 10px 50px;    
    font-weight: bold;
}

.containerList {
    background-color: #ffffff;
    //border-color: #a5a5a5;
    //border-style: solid;
    //border-width: 1px;
    padding: 10px 0px 10px 50px;    
    
}